html, body {
  margin: 0;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1515511856280-7b23f68d2996?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1506&q=80");
  background-attachment: fixed;
}

.fa {
  color: grey;
}

.fa:hover {
  color: darkslategrey;
}

p {
  color: midnightblue;
}

.enter:hover, .port-link:hover {
  box-shadow: 0px 0px 10px lightgrey;
}

.acc {
  text-align: center;
}

.bio {
  text-align: right;
}

.tit, .bio {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}