.fa {
  color: grey;
}

.fa:hover {
  color: darkslategrey;
}

p {
  color: darkslategrey;
}

.enter:hover, .port-link:hover {
  box-shadow: 0px 0px 10px lightgrey;
}

.acc {
  text-align: center;
}

.bio {
  text-align: right;
}

.tit, .bio {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.p-link {
  color: black;
}